.lectures-more{
    display: inline-block;
    height: 32px;
    background-color: #003ee6;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 20px;
    border-radius: 3px;
    transition: all .17s ease;
}


.lecture-a{
    color: white;
}

.lectures-more:hover {
    background-color: black;
}

@keyframes bounce {
    50% {
    transform: translateY(16px);
    }
    100% {
    transform: translateY(0);
    }
    }
    #header-wrap, .mobile-menu-wrap {
    display: none;
    }
    .navbar-container {
    display: flex;
    max-width: 100%;
    height: 60px;
    justify-content: space-between;
    /* margin: 24px auto; */
    align-items: center;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 30px -3px rgba(0, 0, 0, 0.3);
    padding: 0 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #DBB89A;
    z-index: 200;
    top:0;
    }
    .navbar-container .logo a{
    font-family: 'Dancing Script', cursive;
    }
    .navbar-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    height: 40px;
    margin: 0;
    }
    .navbar-container ul li {
    height: 100%;
    }
    .navbar-container .logo a {
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    color: #411E64;
    }
    .navbar-container ul a {
    text-decoration: none;
    color: #411E64;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 400ms ease;
    }
    .navbar-container ul a:hover {
    background: white;
    color: #411E64;
    border-bottom: 2px solid #000;
    }
    .navbar-container .social a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    }
    .navbar-container .social {
    display: flex;
    gap: 16px;
    }
    .navbar-container .menu-icon,
    .mobile-menus {
    display: none;
    }
    @media (max-width: 700px) {
    .navbar-container ul a {
    padding: 0 20px;
    }
    }
    @media (max-width: 886px) {
    .navbar-container ul,
    .navbar-container .social {
    display: none;
    }
    .navbar-container .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    }
    .navbar-container {
    margin-top: 0;
    top: 0;
    height: 40px;
    }
    .mobile-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 24px;
    background: #222;
    list-style: none;
    padding: 0;
    gap: 24px;
    height: 0px;
    overflow: hidden;
    transition: all 400ms ease;
    z-index: 200;
    }
    .mobile-menus.active {
    height: 200px;
    padding: 32px 0;
    }
    .mobile-menus .social a {
    font-size: 28px;
    margin: 0 8px;
    }
    .mobile-menus a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    }
    }


    .mobile-menus{
        z-index: 20;
    }

    .menu-icon{
        padding-right: 20px;
    }

    .logo{
        padding-left: 10px;
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* You might need to adjust this based on your layout */
    }

    .text-gray-600.body-font {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
    }

    .lectures-centre .lectures > h3 {
        display: block;
        font-size: 27px;
        color: #222222;
        font-weight: 700;
        margin: 0 0 20px; 
        padding-top: 30px;
    }

    @media (max-width: 766px){
        .services{
            padding-top: 350px;
        }

        
    }

    @media (max-width: 767px){
        .lectures{
            padding-top: 1250px;
        }
        .map{
            padding-top: 1000px;
        }
    }

    /* Add this CSS to your existing Tailwind CSS or inline styles */

@media (max-width: 767px) {
    .lectures-centre .container {
        padding-top: 24px;
    }
    #map {
        margin-top: 10px;
    }
}




